apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: athenz

resources:
- deployment.yaml
- namespace.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
- files:
  - zts.private.pem=keys/zts.private.pem
  - zts.public.pem=keys/zts.public.pem
  - ca.private.pem=keys/ca.private.pem
  - crypki.private.pem=keys/crypki.private.pem
  name: athenz-zts-keys
  type: Opaque
- files:
  - zts.cert.pem=certs/zts.cert.pem
  - selfsign.ca.cert.pem=certs/selfsign.ca.cert.pem
  name: athenz-zts-certs
  type: Opaque
- files:
  - ca.cert.pem=certs/ca.cert.pem
  name: athenz-cacert
  type: Opaque
- files:
  - athenz_admin.private.pem=keys/athenz_admin.private.pem
  - athenz_admin.cert.pem=certs/athenz_admin.cert.pem
  name: athenz-admin-keys
  type: Opaque

configMapGenerator:
- files:
  - athenz.properties=conf/athenz.properties
  - zts.properties=conf/zts.properties
  - logback.xml=conf/logback.xml
  name: athenz-zts-conf
images:
<<<<<<< HEAD
- name: ghcr.io/t4niwa/athenz-auth-core:latest
  newName: ghcr.io/t4niwa/athenz-auth-core
=======
- name: ghcr.io/ctyano/athenz-plugins:latest
  newName: ghcr.io/ctyano/athenz-plugins
>>>>>>> 700f4428264d4ff1cc57b27f0f1b7b2ebdb096cc
  newTag: latest
- name: ghcr.io/t4niwa/athenz-cli:latest
  newName: ghcr.io/t4niwa/athenz-cli
  newTag: latest
- name: ghcr.io/t4niwa/athenz-zts-server:latest
  newName: ghcr.io/t4niwa/athenz-zts-server
  newTag: latest
